:root{

--card-color:white;

--text-color:#263238;

--background:#F5F7FA;

}
body.light{

--card-color:white;

--background:#F5F7FA;

--text-color:#263238;

}
body.dark{

--card-color:#1E1E1E;

--background:#121212;

--text-color:white;

}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body,
#root{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}
body{

transition:.4s;

}
body.light{

background:#F5F7FA;

color:#263238;

}
body.dark{

background:#121212;

color:white;

}

body{
  overflow-x:hidden;
  font-family:'Poppins',sans-serif;
}

#root{
  width:100%;
  min-height:100vh;
}