.dashboard-card{

background:white;

border-radius:18px;

padding:20px;

display:flex;

align-items:center;

gap:18px;

box-shadow:0 4px 12px rgba(0,0,0,.08);

transition:.3s;

cursor:pointer;

}

.dashboard-card:hover{

transform:translateY(-6px);

box-shadow:0 8px 20px rgba(0,0,0,.12);

}

.card-icon{

width:60px;

height:60px;

border-radius:15px;

display:flex;

justify-content:center;

align-items:center;

font-size:28px;

color:white;

}

.card-details{

display:flex;

flex-direction:column;

}

.card-details h4{

margin:0;

font-size:15px;

color:#777;

font-weight:500;

}

.card-details h2{

margin-top:8px;

font-size:26px;

color:#1B5E20;

}