.chart-card{

    background:white;

    border-radius:18px;

    padding:20px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

    width:100%;

    min-height:430px;

}

.chart-card h2{

    text-align:center;

    margin-bottom:20px;

    color:#1B5E20;

}

