.summary-container{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:25px;

    margin-top:30px;

}

.summary-card{

    background:white;

    border-radius:18px;

    padding:25px;

    box-shadow:0 8px 25px rgba(0,0,0,.08);

    transition:.3s;

}

.summary-card:hover{

    transform:translateY(-5px);

}

.summary-icon{

    font-size:30px;

    color:#1B5E20;

    margin-bottom:18px;

}

.summary-card h4{

    color:#666;

    margin-bottom:15px;

}

.summary-card h2{

    color:#1B5E20;

    font-size:34px;

}