body{

background:#f9e2e8;

}

.dashboard{

margin-left:250px;

padding:30px;

min-height:100vh;

}
.dashboard-layout{
    display:flex;
    min-height:100vh;
    background:#f0f1f2;
}

.dashboard-main{
    flex:1;
    margin-left:10px;      /* Same width as your sidebar */
    min-height:100vh;
    padding:0px;
    box-sizing:border-box;
    overflow-x:hidden;
}

.welcome{

margin-bottom:30px;
color:#1B5E20

}

.welcome h1{

margin:0;

font-size:34px;

color:#1B5E20;

}

.welcome p{

margin-top:8px;

font-size:17px;

color:#666;

}

.cards-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;
padding-top:10px;

}


@media(max-width:1100px){

.cards-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:650px){

.cards-grid{

grid-template-columns:1fr;

}

}

.charts{

display:grid;

grid-template-columns:1fr 1fr;

gap:25px;

margin-top:35px;

}
.charts{
    display:grid;
    grid-template-columns:2fr 2fr;
    gap:25px;
    margin-top:30px;
}

@media (max-width:1000px){
    .charts{
        grid-template-columns:1fr;
    }
}
.chart-section{

    margin-top:30px;

    background:rgb(248, 156, 156);

    border-radius:18px;

    padding:20px;

    box-shadow:0 4px 15px rgba(0,0,0,.08);

}
.charts-container{

    display:grid;

    grid-template-columns:1fr 2fr;

    gap:25px;

    margin-top:30px;

}

.pie-box{

    background:white;

    border-radius:18px;

    padding:20px;

    box-shadow:0 4px 15px rgba(0,0,0,.08);

}

.line-box{

    background:white;

    border-radius:18px;

    padding:20px;

    box-shadow:0 4px 15px rgba(0,0,0,.08);

}

.goal-box{

    margin-top:25px;

    background:white;

    border-radius:18px;

    padding:20px;

    box-shadow:0 4px 15px rgba(0,0,0,.08);

}

@media(max-width:1000px){

.charts-container{

grid-template-columns:1fr;

}

}