.heatmap-container{
    background:#ffffff;
    border-radius:18px;
    padding:28px;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
    overflow-x:auto;
}

.months-wrapper{
    display:flex;
    align-items:flex-start;
    gap:22px;              /* Gap between months */
    width:max-content;
}

.month-card{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.month-title{
    font-size:15px;
    font-weight:700;
    color:#334155;
    margin-bottom:15px;
    letter-spacing:.5px;
}

.month-grid{
    display:grid;
    grid-template-columns:repeat(6,14px);
    gap:5px;
}
.week-column{
    display:grid;
    grid-template-rows:repeat(7,14px);
    gap:5px;
}

.cell{
    width:14px;
    height:14px;
    border-radius:3px;
    background:#4d4e4f;
    cursor:pointer;
    transition:.2s ease;
}

.cell:hover{
    transform:scale(1.2);
    box-shadow:0 3px 10px rgba(0,0,0,.2);
}

.empty{
    visibility:hidden;
}

.level-0{
    background:#EBEDF0;
}

.level-1{
    background:#C6E48B;
}

.level-2{
    background:#7BC96F;
}

.level-3{
    background:#239A3B;
}

.level-4{
    background:#196127;
}

.legend{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    gap:8px;
    margin-top:24px;
    font-size:13px;
    color:#64748B;
}

.legend .cell{
    width:12px;
    height:12px;
}

@media (max-width:1200px){

    .heatmap-container{
        overflow-x:auto;
    }

}

@media (max-width:768px){

    .months-wrapper{
        gap:22px;
    }

    .month-title{
        font-size:13px;
    }

    .month-grid{
        gap:3px;
    }

    .week-column{
        gap:3px;
    }

    .cell{
        width:11px;
        height:11px;
    }

}