.user-table{

    width:100%;

    border-collapse:collapse;

    margin-top:25px;

    background:white;

    border-radius:12px;

    overflow:hidden;

    box-shadow:0 4px 12px rgba(0,0,0,.08);

}

.user-table th{

    background:#2E7D32;

    color:white;

    padding:20px;

    text-align:center;

}

.user-table td{

    padding:15px;

    border-bottom:1px solid #eee;

}

.user-table tr:hover{

    background:#F5F7FA;

}

.delete-btn{

    background:#D32F2F;

    color:white;

    border:none;

    padding:5px 40px;

    padding-left:10px;
    border-radius:8px;

    cursor:pointer;

}

.delete-btn:hover{

    background:#B71C1C;

}

.disabled-btn{

    background:#9E9E9E;

    color:white;

    border:none;

    padding:8px 16px;

    border-radius:8px;

    cursor:not-allowed;

}